//variables
$royalBlue: #00539C;
$peach: #EEA47F;
$grey: #454545;

//mixins
@mixin deleteButton {
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    padding: 5px;
    border-radius: 20px;
    &:hover{
        color: white;
        background-color: $royalBlue;
    }
}

//styles
.e-commerce{
    .e-commerce_registration{
        width: 100vw;
        height: 100vh;
        background-color: $peach;
        h1, h2{
            background-color: $peach;
        }
        h1{
            cursor: pointer;
        }
        h2{
            margin: 30px 0;
        }
        h5{
            margin: 0;
        }
        .e-commerce_form{
            width: 60%;
            .e-commerce_input{
                padding: 10px;
                width: 100%;
                input{
                    padding: 10px;
                    width: 100%;
                    outline: none;
                    border-radius: 10px;
                    border: 2px solid grey;
                    &:focus{
                        border: 2px solid $royalBlue;
                        box-sizing: border-box;
                    }
                }
            }
            p{
                color: #ff1100;
            }
        }
        .e-commerce_info{
            background-color: $peach;
        }
        span{
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .e-commerce_content{
        padding: 0 !important;
        .e-commerce_content_banner{
            margin-top: 20px;
            img{
                width: 100%;
            }
        }
        .e-commerce_content_bars{
            color: #00539C;
        }
    }
}
.e-commerce_contentparticular{
    padding: 0 !important;
    .e-commerce_contentparticular_name{
        padding: 20px 0 20px 10px;
        color: $royalBlue;
    }
    .e-commerce_contentparticular_longitem{
        padding: 30px 0;
        color: $royalBlue;
        .e-commerce_contentparticular_longitem_image{
            margin-left: 16px;
            width: 240px;
            height: 180px;
            background-color: white;
            img{
                width: 120px;
            }
        }
        .e-commerce_contentparticular_longitem_text{
            margin-left: 16px;
        }
    }
    a{
        &:nth-child(odd){
            .e-commerce_contentparticular_longitem{
                background-color: rgba(238, 164, 127, 0.6);
            }
        }
        &:nth-child(even){
            .e-commerce_contentparticular_longitem{
                background-color: $peach;
            }
        }
        &:last-child{
            .e-commerce_contentparticular_longitem{
                margin-bottom: 20px;
            }
        }
        &:first-child{
            .e-commerce_contentparticular_longitem{
                margin-top: 20px;
            }
        }
    }
}

.e-commerce_itemparticular{
    padding: 0;
    .e-commerce_productpagecontent{
        margin-top: 20px;
        margin-bottom: 20px;
        color: $royalBlue;
        img{
            width: 100%;
        }
        h1{
            margin: 30px 0;
        }
        h1, h2, h5{
            padding-left: 30px;
        }
        .e-commerce_productpagecontent_info{
            padding-bottom: 10px;
            border-bottom: 2px solid $grey;
        }
        .e-commerce_productpagecontent_buttons{
            margin-top: 20px;
        }
        .e-commerce_productpagecontent_image{
            margin-bottom: 30px;
        }
        .e-commerce_productpagecontent_description{
            margin-bottom: 30px;
        }
    }
}
.e-commerce_topbar{
    background-color: $peach;
    width: 100%;
    a{
        color: $royalBlue;
        text-decoration: none;
    }
    .e-commerce_topbar_navbar{
        padding: 16px;
        h2{
            font-size: 170%;
        }
        .e-commerce_topbar_dropdown{
            margin-left: 30px;
            .e-commerce_topbar_dropdown_categories{
                .category{
                    font-size: 110%;
                    padding: 6px;
                    font-weight: bold;
                    border-radius: 5px;
                    margin: 0 10px;
                    cursor: pointer;
                    transition: background-color 0.5s;
                    a{
                        transition: color 0.5s;
                    }
                    &:hover{
                        background-color: $royalBlue;
                        a{
                            color: white;
                        }
                        
                    }
                }
            }
        }
        .e-commerce_topbar_buttons{
            @media(min-width: 992px){
                border-left: 2px solid $royalBlue;
            }
        }
        i{
            cursor: pointer;
            font-size: 160%;
            border: 1px solid $royalBlue;
            border-radius: 18px;
            color: $royalBlue;
            transition: background-color 0.5s, color 0.5s;
            &:hover{
                background-color: $royalBlue;
                color: white;
            }
        }
    }
    .e-commerce_topbar_cart{
        width: 360px;
        z-index: 100;
        color: $royalBlue;
        background-color: $peach;
        margin-top: 30px;
        position: absolute;
        border: 1px solid $royalBlue;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 2px 2px 4px rgb(80, 80, 80);
        right: 2%;
        h3{
            text-align: center;
        }
        .e-commerce_topbar_cart_shortItem{
            img{
                width: 50px;
                height: 50px;
            }
            border-bottom: 2px solid $grey;
            padding: 10px 0; 
            &:last-child{
                border-bottom: none;
            }
            .e-commerce_topbar_cart_shortItem_delete{
                i{
                    @include deleteButton();
                }
            }
        }
    }
}

.e-commerce_content_footer{
    padding: 20px 0;
    background-color: $peach;
    height: 200px;
    u{
        cursor: pointer;
    }
    h5{
        margin: 30px 0;
    }
}

.e-commerce_button{
    width: 100px;
    height: 38px;
    border: 1px solid $royalBlue;
    border-radius: 6px;
    box-sizing: border-box;
    color: $royalBlue;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    &:hover{
        background-color: $royalBlue;
        color: #FFF;
    }
}

.e-commerce_content_bar{
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid $grey;
    a{
        color: $royalBlue;
    }
    &:last-child{
        border: none;
    }
    .e-commerce_content_bar_itemshort{
        padding: 0;
        margin-top: 30px;
        cursor: pointer;
        .e-commerce_content_bar_itemshort_image{
            padding: 5px 0;
            width: 220px;
            height: 240px;
            overflow: hidden;
            img{
                width: 100%;
                transition: transform 0.5s;
                transform: scale(0.8)
            }
            &:hover{
                img{
                    transform: scale(1)
                }
            }
        }
    }
}

.e-commerce_contentcart{
    padding: 0;
    color: $royalBlue;
    .e-commerce_contentcart_content{
        margin-top: 20px;
        min-height: calc(100vh - 200px);
        .e-commerce_contentcart_content_products{
            margin-top: 20px;
            h1{
                text-align: center;
            }
            .e-commerce_contentcart_content_products_item{
                .item_image{
                    margin: 20px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .item_info{
                    margin: 20px;
                }
                .item_amount{
                    margin: 0;
                    label{
                        margin: 0;
                        h5{
                            margin: 0;
                        }
                    }
                    input{
                        width: 30%;
                    }
                }
                .item_remove{
                    i{
                        @include deleteButton();
                    }
                }
            }
        }
    }
}