//variables
$mint: #00cf91;
$lightGray: #e7e7e7;
$darkerGray: #808285 ;

//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


//fonts
@font-face{
    font-family: 'Open Sans';
    src: local('Open Sans'), url('../fonts/Open Sans/OpenSans-Regular.ttf');
}

//key-frames
@keyframes fadeFromLeft {
    from{
        transform: translateX(-80px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeFromRight {
    from{
        margin-left: 80px;
        margin-right: 0;
        opacity: 0;
    }
    to{
        margin-left: 0;
        margin-right: 80px;
        opacity: 1;
    }
}


//styles

.e-shop{
    padding: 0 !important;
    margin: 0;
    background-color: $lightGray;
    overflow-x: hidden;
    .e-shop_topbar{
        z-index: 2;
        position: fixed;
        top: 0;
        width: 100%;
        .topbar_button{
            color: $darkerGray;
            width: 80px;
            margin: 20px 10px;
            padding: 10px;
            cursor: pointer;
            font-weight: bold;
            border-radius: 4px;
            transition: background-color 0.8s, color 0.3s;
            @media(max-width: 768px){
                margin: 20px 0px;
            }
            &:hover{
                background-color: rgba(150, 150, 150, 1);
                color: $lightGray;
            }
        }
    }
    .text_left{
        color: $mint;
        min-height: 50vh;
        h1{
            font-size: 400%;
        }
    }
    .e-shop_contententry{
        animation: fade;
        animation-delay: 0.5s;
        animation-duration: 4s;
        font-family: "Open Sans";
        .text_left{
            min-height: 100vh;
            h1{
                opacity: 0;
                text-align: left;
                animation: fadeFromLeft;
                animation-duration: 2s;
                animation-delay: 0.5s;
                animation-fill-mode: forwards;
            }
        }
        .image_side{
            img{
                width: 500px;
                height: 800px;
            }
        }
    }
    .e-shop_contentabout{
        min-height: 70vh;
        background-color: $mint;
        color: white;
        .image_side{
            text-align: center;
            margin-top: 80px;
            .laurels{
                margin: 20px 0;
                background-image: url("../img/laurels.png");
                background-size: 100% 100%;
                font-size: 200%;
                transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
                h1{
                    font-size: 200%;
                }
            }
        }
        .text_right{
            text-align: left;
            font-size: 110%;
            margin-top: 80px;
            h1{
                text-align: center;
            }
            span{
                font-size: 120%;
                font-weight: bold;
            }
        }
    }
    .e-shop_contentcolors{
        font-family: "Open Sans";
        min-height: 100vh;
        .text_left{
            height: 100vh;
            h1{
                margin: 0;
                width: 100%;
            }
        }
        .image_side{
            .pencils{
                min-height: 60vh;
                .pencil{
                    height: 60vh;
                    transform: translateX(50px);
                    opacity: 0;
                    transition: opacity 1s, transform 1s;
                }
            }
        }
    }
    .e-shop_contentorder{
        min-height: 100vh;
        background-color: $mint;
        margin: 0 !important;
        .order_button{
            background-color: $lightGray;
            color: $mint;
            font-weight: bolder;
            border-radius: 10px;
            padding: 6px 30px;
            margin: 20px;
            cursor: pointer;
            box-shadow: 2px 2px 10px black;
            transition: background-color 0.8s, color 0.3s;
            &:hover{
                background-color: $darkerGray;
                color: $lightGray;
            }
        }
        .copyright{
            margin-bottom: 20px;
        }
    }
}