//variables
$mint: #00cf91;
$lightGray: #f1f6fb ;
$darkerGray: #808285 ;

//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//key-frames
@keyframes fadeFromLeft {
    from{
        margin-left: 0;
        opacity: 0;
    }
    to{
        margin-left: 80px;
        opacity: 1;
    }
}

@keyframes fadeFromRight {
    from{
        margin-left: 80px;
        margin-right: 0;
        opacity: 0;
    }
    to{
        margin-left: 0;
        margin-right: 80px;
        opacity: 1;
    }
}


//styles

.e-shop{
    overflow-x: hidden;
    padding: 0 !important;
    margin: 0;
    background-color: $lightGray;
    .e-shop_topbar{
        z-index: 2;
        position: fixed;
        top: 0;
        width: 100%;
        .topbar_button{
            color: $darkerGray;
            width: 120px;
            margin: 20px 40px;
            padding: 10px;
            cursor: pointer;
            font-weight: bold;
            border-radius: 4px;
            transition: background-color 0.8s, color 0.3s;
            @media(max-width: 768px){
                margin: 20px 0px;
            }
            &:hover{
                background-color: rgba(150, 150, 150, 1);
                color: $lightGray;
            }
        }
    }
    .text_left{
        color: $mint;
        min-height: 100vh;
        h1{
            font-size: 400%;
            margin-left: 80px;
        }
    }
    .image_side{
        min-height: 100vh;
    }
    .e-shop_contententry{
        animation: fade;
        animation-delay: 0.5s;
        animation-duration: 4s;
        .text_left{
            h1{
                opacity: 0;
                text-align: left;
                animation: fadeFromLeft;
                animation-duration: 2s;
                animation-delay: 0.5s;
                animation-fill-mode: forwards;
            }
        }
        .image_side{
            img{
                width: 500px;
                height: 80%;
            }
        }
    }
    .e-shop_contentabout{
        min-height: 100vh;
        background-color: $mint;
        color: $lightGray;
        .image_side{
            .content{
                background-image: url("../img/laurels.png");
                background-size: 100% 100%;
                padding: 0 90px;
                height: 120px;
                background-color: $mint;
                transition: opacity 1.5s, top 1.5s;
                position: relative;
                h1{
                    text-align: center;
                    font-size: 400%;
                }
            }
        }
        .text_right{
            text-align: left;
            font-size: 110%;
            span{
                font-size: 120%;
                font-weight: bold;
            }
        }
    }
    .e-shop_contentcolors{
        min-height: 100vh;
        h1{
            margin: 0;
        }
        .image_side{
            .pencils{
                min-height: 60vh;
                .pencil{
                    height: 60vh;
                    transition: transform 1s;
                    margin: 20px;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
    .e-shop_contentorder{
        min-height: 100vh;
        background-color: $mint;
        .order_button{
            background-color: $lightGray;
            color: $mint;
            font-weight: bolder;
            border-radius: 10px;
            padding: 6px 40px;
            margin: 20px;
            cursor: pointer;
            box-shadow: 2px 2px 10px black;
            transition: background-color 0.8s, color 0.3s;
            &:hover{
                background-color: $darkerGray;
                color: $lightGray;
            }
        }
    }
}