
.icon-star:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */