@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), url("../fonts/Open Sans/OpenSans-Regular.ttf"); }

@-webkit-keyframes fadeFromLeft {
  from {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fadeFromLeft {
  from {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fadeFromRight {
  from {
    margin-left: 80px;
    margin-right: 0;
    opacity: 0; }
  to {
    margin-left: 0;
    margin-right: 80px;
    opacity: 1; } }

@keyframes fadeFromRight {
  from {
    margin-left: 80px;
    margin-right: 0;
    opacity: 0; }
  to {
    margin-left: 0;
    margin-right: 80px;
    opacity: 1; } }

.e-shop {
  padding: 0 !important;
  margin: 0;
  background-color: #e7e7e7;
  overflow-x: hidden; }
  .e-shop .e-shop_topbar {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%; }
    .e-shop .e-shop_topbar .topbar_button {
      color: #808285;
      width: 80px;
      margin: 20px 10px;
      padding: 10px;
      cursor: pointer;
      font-weight: bold;
      border-radius: 4px;
      -webkit-transition: background-color 0.8s, color 0.3s;
      -o-transition: background-color 0.8s, color 0.3s;
      transition: background-color 0.8s, color 0.3s; }
      @media (max-width: 768px) {
        .e-shop .e-shop_topbar .topbar_button {
          margin: 20px 0px; } }
      .e-shop .e-shop_topbar .topbar_button:hover {
        background-color: #969696;
        color: #e7e7e7; }
  .e-shop .text_left {
    color: #00cf91;
    min-height: 50vh; }
    .e-shop .text_left h1 {
      font-size: 400%; }
  .e-shop .e-shop_contententry {
    -webkit-animation: fade;
    animation: fade;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    font-family: "Open Sans"; }
    .e-shop .e-shop_contententry .text_left {
      min-height: 100vh; }
      .e-shop .e-shop_contententry .text_left h1 {
        opacity: 0;
        text-align: left;
        -webkit-animation: fadeFromLeft;
        animation: fadeFromLeft;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
    .e-shop .e-shop_contententry .image_side img {
      width: 500px;
      height: 800px; }
  .e-shop .e-shop_contentabout {
    min-height: 70vh;
    background-color: #00cf91;
    color: white; }
    .e-shop .e-shop_contentabout .image_side {
      text-align: center;
      margin-top: 80px; }
      .e-shop .e-shop_contentabout .image_side .laurels {
        margin: 20px 0;
        background-image: url("../img/laurels.png");
        background-size: 100% 100%;
        font-size: 200%;
        -webkit-transition: opacity 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
        transition: opacity 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
        -o-transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
        transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
        transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out; }
        .e-shop .e-shop_contentabout .image_side .laurels h1 {
          font-size: 200%; }
    .e-shop .e-shop_contentabout .text_right {
      text-align: left;
      font-size: 110%;
      margin-top: 80px; }
      .e-shop .e-shop_contentabout .text_right h1 {
        text-align: center; }
      .e-shop .e-shop_contentabout .text_right span {
        font-size: 120%;
        font-weight: bold; }
  .e-shop .e-shop_contentcolors {
    font-family: "Open Sans";
    min-height: 100vh; }
    .e-shop .e-shop_contentcolors .text_left {
      height: 100vh; }
      .e-shop .e-shop_contentcolors .text_left h1 {
        margin: 0;
        width: 100%; }
    .e-shop .e-shop_contentcolors .image_side .pencils {
      min-height: 60vh; }
      .e-shop .e-shop_contentcolors .image_side .pencils .pencil {
        height: 60vh;
        -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, -webkit-transform 1s;
        -o-transition: opacity 1s, transform 1s;
        transition: opacity 1s, transform 1s;
        transition: opacity 1s, transform 1s, -webkit-transform 1s; }
  .e-shop .e-shop_contentorder {
    min-height: 100vh;
    background-color: #00cf91;
    margin: 0 !important; }
    .e-shop .e-shop_contentorder .order_button {
      background-color: #e7e7e7;
      color: #00cf91;
      font-weight: bolder;
      border-radius: 10px;
      padding: 6px 30px;
      margin: 20px;
      cursor: pointer;
      -webkit-box-shadow: 2px 2px 10px black;
      box-shadow: 2px 2px 10px black;
      -webkit-transition: background-color 0.8s, color 0.3s;
      -o-transition: background-color 0.8s, color 0.3s;
      transition: background-color 0.8s, color 0.3s; }
      .e-shop .e-shop_contentorder .order_button:hover {
        background-color: #808285;
        color: #e7e7e7; }
    .e-shop .e-shop_contentorder .copyright {
      margin-bottom: 20px; }
