.todolist {
  color: black;
  height: 100%;
  background-image: url("../img/y-so-serious-white.png"); }
  .todolist .todolist_content {
    width: 100%; }
    .todolist .todolist_content .todolist_content_elements {
      margin-top: 100px; }
      .todolist .todolist_content .todolist_content_elements .todolist_element {
        background-color: #E4FFF9;
        padding: 20px;
        margin: 0 10px 30px 10px;
        border: 2px solid #3b3a3a;
        border-radius: 6px;
        background-color: #2fd089;
        overflow: hidden; }
        .todolist .todolist_content .todolist_content_elements .todolist_element .ok_div {
          position: relative;
          left: -70px;
          -webkit-transition: left 0.5s ease-in-out;
          -o-transition: left 0.5s ease-in-out;
          transition: left 0.5s ease-in-out; }
        .todolist .todolist_content .todolist_content_elements .todolist_element .icon_x {
          border-radius: 2px;
          padding: 4px;
          cursor: pointer; }
          .todolist .todolist_content .todolist_content_elements .todolist_element .icon_x:hover {
            background-color: rgba(0, 0, 0, 0.3); }
        .todolist .todolist_content .todolist_content_elements .todolist_element .icons {
          position: relative;
          top: -70px;
          -webkit-transition: top 0.5s ease-in-out;
          -o-transition: top 0.5s ease-in-out;
          transition: top 0.5s ease-in-out;
          -webkit-transition-delay: 0.2s;
          -o-transition-delay: 0.2s;
          transition-delay: 0.2s; }
        .todolist .todolist_content .todolist_content_elements .todolist_element .ok {
          border: 2px solid #3b3a3a;
          border-radius: 4px;
          font-size: 130%;
          margin-right: 20px;
          cursor: pointer; }
  .todolist .todolist_input {
    position: relative;
    padding: 15px 0 15px 0;
    width: 50%;
    margin: 0 auto; }
    .todolist .todolist_input input {
      width: 100%;
      border: 0;
      border-bottom: 2px solid #999;
      outline: 0;
      font-size: 1.3rem;
      color: #3b3a3a;
      padding: 7px 0;
      background: transparent;
      -webkit-transition: border-color 0.2s;
      -o-transition: border-color 0.2s;
      transition: border-color 0.2s; }
      .todolist .todolist_input input::-webkit-input-placeholder {
        color: transparent; }
      .todolist .todolist_input input:-ms-input-placeholder {
        color: transparent; }
      .todolist .todolist_input input::-ms-input-placeholder {
        color: transparent; }
      .todolist .todolist_input input::placeholder {
        color: transparent; }
      .todolist .todolist_input input:placeholder-shown ~ .todolist_label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px; }
    .todolist .todolist_input .todolist_label {
      position: absolute;
      top: 0;
      display: block;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      font-size: 1rem;
      color: #999; }
    .todolist .todolist_input input:focus {
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-color: #2fd089;
      border-image-slice: 1; }
      .todolist .todolist_input input:focus ~ .todolist_label {
        position: absolute;
        top: 0;
        display: block;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        font-size: 1rem;
        color: #3b3a3a;
        font-weight: 700; }
  .todolist h1 {
    color: black; }
  .todolist .todolist_topbar {
    background-color: #2fd089; }
    .todolist .todolist_topbar .todolist_icons {
      margin: 10px;
      margin-right: 40px; }
      .todolist .todolist_topbar .todolist_icons i {
        border-radius: 2px;
        padding: 4px;
        cursor: pointer; }
        .todolist .todolist_topbar .todolist_icons i:hover {
          background-color: rgba(0, 0, 0, 0.3); }
  .todolist .todolist_addelement {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .todolist .todolist_addelement .todolist_e_element_content {
      background-color: white;
      width: 50vw;
      height: 50vh;
      border-radius: 20px; }
      @media (max-height: 720px) {
        .todolist .todolist_addelement .todolist_e_element_content {
          height: 360px; } }
      @media (max-width: 992px) {
        .todolist .todolist_addelement .todolist_e_element_content {
          width: 496px; } }
      .todolist .todolist_addelement .todolist_e_element_content h1 {
        text-align: center;
        width: 100%; }
      .todolist .todolist_addelement .todolist_e_element_content i {
        border-radius: 2px;
        padding: 4px;
        cursor: pointer;
        margin: 10px; }
        .todolist .todolist_addelement .todolist_e_element_content i:hover {
          background-color: rgba(0, 0, 0, 0.3); }
      .todolist .todolist_addelement .todolist_e_element_content .todolist_e_element_form {
        margin-top: 20px; }
        .todolist .todolist_addelement .todolist_e_element_content .todolist_e_element_form input[name=title], .todolist .todolist_addelement .todolist_e_element_content .todolist_e_element_form input[name=description] {
          width: 50%; }
        .todolist .todolist_addelement .todolist_e_element_content .todolist_e_element_form input {
          margin: 8px;
          border: 2px solid #E4FFF9;
          border-radius: 10px;
          outline: 0; }
          .todolist .todolist_addelement .todolist_e_element_content .todolist_e_element_form input:focus {
            border-color: #2fd089;
            -webkit-box-shadow: 0 0 10px #2fd089;
            box-shadow: 0 0 10px #2fd089; }
  .todolist .todolist_deleteelement {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .todolist .todolist_deleteelement .todolist_e_element_content {
      background-color: white;
      width: 50vw;
      height: 50vh;
      border-radius: 20px; }
      @media (max-height: 720px) {
        .todolist .todolist_deleteelement .todolist_e_element_content {
          height: 360px; } }
      @media (max-width: 992px) {
        .todolist .todolist_deleteelement .todolist_e_element_content {
          width: 496px; } }
      .todolist .todolist_deleteelement .todolist_e_element_content h1 {
        text-align: center;
        width: 100%; }
      .todolist .todolist_deleteelement .todolist_e_element_content i {
        border-radius: 2px;
        padding: 4px;
        cursor: pointer;
        margin: 10px; }
        .todolist .todolist_deleteelement .todolist_e_element_content i:hover {
          background-color: rgba(0, 0, 0, 0.3); }
      .todolist .todolist_deleteelement .todolist_e_element_content .todolist_e_element_form {
        margin-top: 20px; }
        .todolist .todolist_deleteelement .todolist_e_element_content .todolist_e_element_form input[name=title], .todolist .todolist_deleteelement .todolist_e_element_content .todolist_e_element_form input[name=description] {
          width: 50%; }
        .todolist .todolist_deleteelement .todolist_e_element_content .todolist_e_element_form input {
          margin: 8px;
          border: 2px solid #E4FFF9;
          border-radius: 10px;
          outline: 0; }
          .todolist .todolist_deleteelement .todolist_e_element_content .todolist_e_element_form input:focus {
            border-color: #2fd089;
            -webkit-box-shadow: 0 0 10px #2fd089;
            box-shadow: 0 0 10px #2fd089; }
  .todolist .todolist_editelement {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .todolist .todolist_editelement .todolist_e_element_content {
      background-color: white;
      width: 50vw;
      height: 50vh;
      border-radius: 20px; }
      @media (max-height: 720px) {
        .todolist .todolist_editelement .todolist_e_element_content {
          height: 360px; } }
      @media (max-width: 992px) {
        .todolist .todolist_editelement .todolist_e_element_content {
          width: 496px; } }
      .todolist .todolist_editelement .todolist_e_element_content h1 {
        text-align: center;
        width: 100%; }
      .todolist .todolist_editelement .todolist_e_element_content i {
        border-radius: 2px;
        padding: 4px;
        cursor: pointer;
        margin: 10px; }
        .todolist .todolist_editelement .todolist_e_element_content i:hover {
          background-color: rgba(0, 0, 0, 0.3); }
      .todolist .todolist_editelement .todolist_e_element_content .todolist_e_element_form {
        margin-top: 20px; }
        .todolist .todolist_editelement .todolist_e_element_content .todolist_e_element_form input[name=title], .todolist .todolist_editelement .todolist_e_element_content .todolist_e_element_form input[name=description] {
          width: 50%; }
        .todolist .todolist_editelement .todolist_e_element_content .todolist_e_element_form input {
          margin: 8px;
          border: 2px solid #E4FFF9;
          border-radius: 10px;
          outline: 0; }
          .todolist .todolist_editelement .todolist_e_element_content .todolist_e_element_form input:focus {
            border-color: #2fd089;
            -webkit-box-shadow: 0 0 10px #2fd089;
            box-shadow: 0 0 10px #2fd089; }
    .todolist .todolist_editelement .todolist_e_element_content .todolist_e_element_form {
      margin-top: 30px; }
  .todolist .todolist_submitbutton {
    width: 160px;
    height: 48px;
    border-radius: 30px;
    background-color: #3b3a3a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto; }
  .todolist .done {
    background-color: #117243 !important; }
    .todolist .done h1, .todolist .done p, .todolist .done i {
      color: #E4FFF9; }
